.test-box {
  color: #5ab590;
  border:2px solid;
  margin: 1em;
  padding:1em;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  -moz-box-shadow: 0 0 9px rgba(21,171,195,1.0);
	-webkit-box-shadow: 0 0 9px rgba(21,171,195,1.0);
  box-shadow: 0 0 9px rgba(21,171,195,1.0);
  -webkit-animation: createBox .25s;
}

@keyframes createBox {
  from {
    transform: scale(0);
  }
  to {
    transform: scale(1);
  }
}
.animate{
  font-family: 'copperplate';
  
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  margin: 1em;
  padding:1em;
  border: 0;
  color: black;
  font-weight: 700;
  position: relative;
  vertical-align: middle;
}
.animate::before, .animate::after {
  -webkit-box-sizing: inherit;
          box-sizing: inherit;
  content: '';
  position: absolute;
  width: 100%;
  height: 100%;
}
nav {
  background: none;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  margin: 1em;
  padding: 1em 2em;
  border: 0;
  color: black;
  font-size: inherit;
  font-weight: 700;
  position: relative;
  vertical-align: middle; 
  padding-left: 0;/* for nav bar icon to the left */
}
nav::before, nav::after {
  -webkit-box-sizing: inherit;
          box-sizing: inherit;
  content: '';
  position: absolute;
  width: 100%;
  height: 100%;
}

.draw::before, .draw::after {
  border: 2px solid transparent;
  width: 0;
  height: 0;
}

.draw::before {
  top: 0;
  left: 0;
}
.draw::after {
  bottom: 0;
  right: 0;
}

.draw {
  -webkit-animation: colorchange 5s;
  animation-delay: 2s;
  animation-fill-mode: forwards;
  -webkit-animation-fill-mode: forwards;
}

@keyframes colorchange {
  0% {
    color: #000000;
  }
  50% {
    color: #318d68;
  }
  100% {
    color: #5ab590;
  }
}
.draw::before {
  top: 0;
  left: 0;

  animation: border 2s, borderRight 2s;
  animation-delay: 1s;
  animation-fill-mode: forwards;
  -webkit-animation-fill-mode: forwards;
 
}
.draw::after {
  bottom: 0;
  right: 0;
  animation: border 2s, borderLeft 2s;
  animation-delay: 2s;
  animation-fill-mode: forwards;
  -webkit-animation-fill-mode: forwards;
  
  

}

@keyframes border {
  0% {
    width: 0;
    height: 0;
  }
  25% {
    width: 100%;
    height: 0;
  }
  50% {
    width: 100%;
    height: 100%;
  }
  100% {
    width: 100%;
    height: 100%;
    
  }
}

@keyframes borderRight {
  0% {
     border-top-color: #60daaa;
  border-right-color: #60daaa;
  
  }
  50% {
     border-top-color: #60daaa;
  border-right-color: #60daaa;

  }
  51% {
     border-top-color: #60daaa;
  border-right-color: #60daaa;
  }
  100% {
     border-top-color: #60daaa;
  border-right-color: #60daaa;
  }
}
@keyframes borderLeft {
  0% {
    border-bottom-color: #60daaa;
    border-left-color: #60daaa;
  }
  50% {
    border-bottom-color: #60daaa;
    border-left-color: #60daaa;

  }
  51% {
    border-bottom-color: #60daaa;
    border-left-color: #60daaa;
  }
  100% {
    border-bottom-color: #60daaa;
    border-left-color: #60daaa;
   
  }
}

body {
  background: black;
  color: #02feff;
}
